API_ID=24948076
API_HASH=70a13d46298714986baf1fbaa8bcd0da
BOT_TOKEN=6962837806:AAFpqBQdn-ybduDQ11w3RAhPYttAffejTOM
DURATION_LIMIT=999
MONGO_DB_URI=mongodb+srv://sigmaofficialbot:1234@cluster0.rsj1eya.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002138185153
MUSIC_BOT_NAME=sigmaassistant
OWNER_ID=2010687946
AUTO_LEAVING_ASSISTANT=False
SPOTIFY_CLIENT_ID=ff36a443b59a45ff95b708db5b14b2b5
SPOTIFY_CLINET_SECRET=51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION=BQDNvmIAgBp_wovUbm43oxAdJzfQRak3ommQjMbqKugqdnZM0H4nfNl9BqHMgRPJgb6gkkcu-HNjHgVTB18IJAlVsdt9q_ypGqGvX9PPp2gLxOcm4xds2ihUNJMnxc_nE1L9vS341gbvvUlqdIKdrCg9flwL-cIR-1TCBKS1Fx1MkvBoxnH77uMaIrBP23MsxY_tB2z2ABjGbhFD2Noq_Kscj1Vfil6TTDJN1r9JRrzrIkHaj0KTqk0h9_HKaQT2nhG3wMac2IXjTiFnXmhZRZ_VgXkf_RO0aPEgTIVoDYIO0ill6jZS1gKIJ2F9nFq5q-Rb4fR0S1UHwvcc3jyxp8Sv-lYa6AAAAAAwomt2AA
TG_VIDEO_FILESIZE_LIMIT=5368709120
UPSTREAM_BRANCH=master
UPSTREAM_REPO=https://github.com/panther3233/SigmaMusic
